@mixin position {
    position: absolute;
    top: 40px;
    right: 10px;
    cursor: pointer;
    font-size: 1.7rem;
    color: $navColor;
}
#nav-toggle {
    @include position();
}
//transition fade
.fade-enter-active, .fade-leave-active {
    transition: all .5s ease-in-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
#nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    padding-top: 70px;
    background-color: $navBackgroundColor;
    overflow: auto;
    #x-toggle {
        @include position()
    }
    a {
        display: block;
        width: fit-content;
        height: fit-content;
        margin: 50px auto; 
        text-decoration: none;
        font: 2rem $oswald;
        color: $navColor;
        &:hover {
            color: $hoverNavColor
        }
        .router-link-exact-active, .router-link-active {
            color: $hoverNavColor;
        }
    }
}

