.about {
    width: 100%;
    min-height: 650px;
    .top-section {
        width: 100%;
        min-height: 400px;
        .about_heading {
            color: $navColor;
            font:  1.3rem $oswald;
        }
        .about_sentence {
            color: $navColor;
            font: 1rem $manrope;
            line-height: 2;
        }
        input[type=submit] {
            border: none;
            outline: none;
            cursor: pointer;
            width: fit-content;
            padding: 12px;
            font: .7rem $manrope;
        }
        &::after {
            width: 75px;
            height: 1px;
            content: "";
            display: block;
            background-color: $headColor;
            margin: 15px auto;
            opacity: .5;
        }    
    }
}